@import "tailwindcss";

@theme { 
  --color-primary: #001b56; 
  --color-light: #F3F4F6;
}

.nav-item {
  @apply text-[16px] font-medium text-gray-700 hover:text-sky-500 dark:text-gray-300;
}

.nav-active {
  @apply text-[16px] font-semibold text-sky-500;
}

.nav-item-mobile {
  @apply block rounded-md px-3 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800;
}

.nav-active-mobile {
  @apply block rounded-md px-3 py-2 bg-indigo-500 text-white;
}


.text-primary {
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;
}

.text-primary:hover {
  color: #003080; 
}



.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  font-family: var(--font-sans);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #003080; 
}
